<% include partials/head %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<div class="yc-comments">
  <h3>Comments</h3>
  <% campground.comments.forEach(function(comment) { %>
    <div class="yc-comment">
      <blockquote>
        <p><%= comment.text %></p>
        <footer><%= comment.author %></footer>
      </blockquote>
    </div><!-- /.yc-comment -->
  <% }); %>
</div><!-- /.yc-comments -->

<% include partials/foot %>
