<% include ../partials/head %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<div id="yc-comments">
  <h3>Comments</h3>
  <% campground.comments.forEach(function(comment) { %>
    <div class="yc-comment">
      <blockquote>
        <p><%= comment.text %></p>
        <footer><%= comment.author %></footer>
      </blockquote>
    </div><!-- /.yc-comment -->
  <% }); %>
  <div>
    <a href="/campgrounds/<%= campground._id %>/comments/new"
      class="btn btn-primary">Add a comment</a>
  </div>
</div><!-- /.yc-comments -->

<% include ../partials/foot %>
